
@{
    ViewBag.Title = "Index";
}

<h2>Biblioteka2017 - menu</h2>
<div>
    <div class="navbar-collapse" navbar>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Lista książek", "Index", "EditBook")</li>
            <li>@Html.ActionLink("Lista autorów", "Index", "EditAuthor")</li>
        </ul>

    </div>
</div>



