
@{
    ViewBag.Title = "Index";
}

<h2>Biblioteka2017 - menu</h2>
<div>
    <div class="container body-content">
                 <h3>Możliwości aplikacji</h3>
            <ul>
                
                <li>Logowanie i rejestracja w aplikacji</li>
                <li>Podgląd listy książek i autorów</li>
                
            </ul>

                 <h3>Dla zalogowanego użytkownika</h3>
            <ul>
                <li>Edycja list książek i autorów</li>
                <li>Kasowanie pozycji z listy ksiązek i autorów</li>
                <li>Wyświetlanie szczegółów ksiażki i autora</li>
            </ul>
            <h3>Dla Administratora</h3>
            
            <ul>
                <li>Dostęp do ukrytych widoków Shadow</li>
                <li>Możliwość przywracania skasowanych pozycji z tym samym ID</li>
                <li>Możliwośćprzywracania zmian</li>

                <li><b>Login: admin</b></li>
                <li><b>Hasło: qwerty123</b></li>
            </ul>
        <h3>Hasła użytkowników są szyfrowane za pomocą pluginu SimpleCrypto</h3>
        </div>

    </div>



